1. The HelloWorld replacement

a) Write a program that prints the numbers from 1 to 100. But for multiples of three print "Hello" instead of the number and for the multiples of five print "World". For numbers which are multiples of both three and five print "HelloWorld".

b) Put the result in a tuple and substitute "Hello" with "Python" and "World" with "Works".

In [1]:
#exercise n.1
#part A and B

my_list= []

for i in range(1,101): 
    if  i % 15 == 0:
        print("HelloWorld")
        my_list.append("HelloWorld")
        
    elif i % 5 == 0: 
        print("World")
        my_list.append("World")
    
    elif i % 3 == 0:
        print("Hello")
        my_list.append("Hello") 
    
    else:     
        print (i)
        my_list.append(i)      
 
for i in range(0,100): 
    if (i+1) % 15 == 0:
        my_list[i] = my_list[i]
    elif (i+1) % 5 == 0:
        my_list[i] = "Works"
    elif (i+1) % 3 == 0:
        my_list[i] = "Python" 
     
my_tuple = tuple(my_list)

print(my_tuple)

1
2
Hello
4
World
Hello
7
8
Hello
World
11
Hello
13
14
HelloWorld
16
17
Hello
19
World
Hello
22
23
Hello
World
26
Hello
28
29
HelloWorld
31
32
Hello
34
World
Hello
37
38
Hello
World
41
Hello
43
44
HelloWorld
46
47
Hello
49
World
Hello
52
53
Hello
World
56
Hello
58
59
HelloWorld
61
62
Hello
64
World
Hello
67
68
Hello
World
71
Hello
73
74
HelloWorld
76
77
Hello
79
World
Hello
82
83
Hello
World
86
Hello
88
89
HelloWorld
91
92
Hello
94
World
Hello
97
98
Hello
World
(1, 2, 'Python', 4, 'Works', 'Python', 7, 8, 'Python', 'Works', 11, 'Python', 13, 14, 'HelloWorld', 16, 17, 'Python', 19, 'Works', 'Python', 22, 23, 'Python', 'Works', 26, 'Python', 28, 29, 'HelloWorld', 31, 32, 'Python', 34, 'Works', 'Python', 37, 38, 'Python', 'Works', 41, 'Python', 43, 44, 'HelloWorld', 46, 47, 'Python', 49, 'Works', 'Python', 52, 53, 'Python', 'Works', 56, 'Python', 58, 59, 'HelloWorld', 61, 62, 'Python', 64, 'Works', 'Python', 67, 68, 'Python', 'Works', 71, 'Python', 73, 74, 'HelloWorld', 76, 77, 'Python', 79, 'Works', 'Python', 82, 83, 'Python', 'Works', 86, 'Python', 88, 89, 'HelloWorld', 91, 92, 'Python', 94, 'Works', 'Python', 97, 98, 'Python', 'Works')

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [5]:
#exercise n.2
#swap function 
x,y = 1,2
def swap(x,y=0):
    a=x
    x=y
    y=a   
    print('Swapped values: x='+ str(x)+ ', y='+ str(y))
    
print('[First Method]')
print('Values entered are: x='+ str(x)+ ', y='+ str(y))
swap(x,y) 

#swap function without temporary variables
z,w=1,2
def swap1(z,w=0):
    z= z+w
    w= z-w
    z= z-w
    print('Swapped values: x='+ str(z)+ ', y='+ str(w))

print('[Second Method]')
print('Values entered are: x='+ str(z)+ ', y='+ str(w))
swap1(z,w)

[First Method]
Values entered are: x=1, y=2
Swapped values: x=2, y=1
[Second Method]
Values entered are: x=1, y=2
Swapped values: x=2, y=1

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

In [6]:
#exercise n.3
import math as m

x1, y1= 3,0
x2, y2 = 0,4
u, v = (x1,y1), (x2,y2)

print ('2d points entered are: u =', u, ', v = ', v)

def eucl_dist(x1, y1, x2, y2=0):
    distance= m.sqrt(((x1-y1)**2 + (x2-y2)**2)) 
    return distance
        
print('Euclidean distance between points u and v is: ', eucl_dist(x1, y1, x2, y2))

2d points entered are: u = (3, 0) , v =  (0, 4)
Euclidean distance between points u and v is:  5.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differences in capitalization

In [15]:
#exercise n.4

s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Hello instead of the number and for the multiples of five print World. \
For numbers which are multiples of both three and five print HelloWorld."

digits=["0","1","2","3","4","5","6","7","8","9"]
letters=["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o","p","q","r","s","t","u","v","w","x","y","z"]
punctuation=[".", ",", "?", "!", ";", ":"] 

for i in digits:
    x = s.count(i) 
    print(i, ' appears ', x, 'times in the sentence')
print("\n")    
for i in letters:
    x = s.lower().count(i) 
    print(i, ' appears ', x, 'times in the sentence')
print("\n")   
for i in punctuation:
    x = s.count(i) 
    print(i, ' appears ', x, 'times in the sentence')

0  appears  2 times in the sentence
1  appears  2 times in the sentence
2  appears  0 times in the sentence
3  appears  0 times in the sentence
4  appears  0 times in the sentence
5  appears  0 times in the sentence
6  appears  0 times in the sentence
7  appears  0 times in the sentence
8  appears  0 times in the sentence
9  appears  0 times in the sentence


a  appears  7 times in the sentence
b  appears  5 times in the sentence
c  appears  1 times in the sentence
d  appears  5 times in the sentence
e  appears  20 times in the sentence
f  appears  10 times in the sentence
g  appears  1 times in the sentence
h  appears  11 times in the sentence
i  appears  12 times in the sentence
j  appears  0 times in the sentence
k  appears  0 times in the sentence
l  appears  12 times in the sentence
m  appears  8 times in the sentence
n  appears  10 times in the sentence
o  appears  15 times in the sentence
p  appears  8 times in the sentence
q  appears  0 times in the sentence
r  appears  19 times in the sentence
s  appears  7 times in the sentence
t  appears  19 times in the sentence
u  appears  7 times in the sentence
v  appears  2 times in the sentence
w  appears  4 times in the sentence
x  appears  0 times in the sentence
y  appears  0 times in the sentence
z  appears  0 times in the sentence


.  appears  3 times in the sentence
,  appears  0 times in the sentence
?  appears  0 times in the sentence
!  appears  0 times in the sentence
;  appears  0 times in the sentence
:  appears  0 times in the sentence

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list:

In [7]:
#exercise n.5

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_l=[]
y=0

def counting_uniques(l):
    global y
    for i in l:
        if i not in unique_l:
            unique_l.append(i)
            y+=1

counting_uniques(l)
unique_l.sort()

print(unique_l)
print('The total count of unique numbers is: ' , y)

[1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99]
The total count of unique numbers is:  54

Do the same without using user-defined functions, but exploiting only the Python data structures.

In [3]:
#same exercise but using only the Python data structures.

l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_l= set(l)
   
print(unique_l)    
print('The total count of unique numbers is: ' , len(unique_l))

{1, 3, 5, 8, 9, 10, 16, 18, 19, 20, 24, 30, 31, 33, 34, 36, 37, 39, 41, 42, 45, 47, 50, 51, 53, 54, 55, 56, 57, 58, 63, 64, 66, 70, 72, 74, 75, 79, 81, 82, 84, 85, 86, 87, 88, 89, 90, 91, 92, 94, 95, 96, 98, 99}
The total count of unique numbers is:  54

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [10]:
#exercise n.6

x=2
print('x entered is:', x)
def square(a = 0):
    return a*a

print('x^2 = ', square(x))

def cube(a = 0):
    return a*a*a

print('x^3 = ', cube(x))

def power_6(x):
    return cube(x)*square(x)*x

print('x^6 = ', power_6(x) , ', obtained using previous results')

x entered is: 2
x^2 =  4
x^3 =  8
x^6 =  64 , obtained using previous results

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [129]:
#exercise n.7

#creating a list using for loop
cubes_list=[]
for y in range(0,11):
    cubes_list.append(y**3)
print(cubes_list)
    
#creating a list using list comprehension    
cubes_list1=[y**3 for y in range (11)]
print(cubes_list1)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [66]:
#exercise n.8

list_py = [(a,b,c) for a in range (1,100) for b in range (1,100) for c in range (1,100) if a**2+b**2==c**2 and a<b]
p_triples = tuple(list_py)
#considered also not primitive Pythagorean triples

print(p_triples)

((3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 20, 25), (15, 36, 39), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 21, 29), (20, 48, 52), (21, 28, 35), (21, 72, 75), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 45, 53), (30, 40, 50), (30, 72, 78), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 84, 91), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 42, 58), (40, 75, 85), (42, 56, 70), (45, 60, 75), (48, 55, 73), (48, 64, 80), (51, 68, 85), (54, 72, 90), (57, 76, 95), (60, 63, 87), (65, 72, 97))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [9]:
#exercise n.9
import math as m

t=(1,1,0)

def normalization(t):
    global vector_normalized
    squares=[i**2 for i in t]
    squares_sum=sum(squares) 
    vector_normalized = tuple([i/m.sqrt(squares_sum) for i in t]) 
    return vector_normalized

print('The normalized vector is: ', normalization(t))

The normalized vector is:  (0.7071067811865475, 0.7071067811865475, 0.0)